<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <textarea id="source">
<%= content %>
    </textarea>
    <script src="../bower_components/remark/out/remark.min.js"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
        sourceUrl: 'slides.md',
        ratio: "16:9"
      });
    </script>
  </body>
</html>
